<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProntClinic</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="#" class="aa">
                    <img src="img/logo.png" alt="">
                    <span class="nav-item"></span>
                </a>
            </li>
    
            <li>
                <a href="#" class="aa">
                    <i class="bi bi-house-door" id="icon"></i>
                    <span class="nav-item"></span>
                </a>
            </li>
    
            <li>
                <a href="#" class="aa">
                    <i id="openModalBtn" class="bi bi-pencil-square"></i>
                    <span class="nav-item"></span>  
                </a>
            </li>
    
            <li>
                <a href="#" class="aa">
                    <i class="bi bi-gear" id="icon"></i>
                    <span class="nav-item"></span>
                </a>
            </li>
    

        </ul>
    </nav>
    

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Cadastro</h3>
        <form>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required><br><br>
            
            <!-- Se o paciente não estiver cadastrado -->
            <div id="notRegistered" style="display: none;">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome"><br><br>
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone"><br><br>
                <label for="telefone">E-mail:</label>
                <input type="text" id="email" name="email"><br><br>
                <label for="telefone">Convenio:</label>
                <input type="text" id="convenio" name="convenio"><br><br>
                <label for="telefone">Data de nascimento:</label>
                <input type="date" id="data" name="data"><br><br>
            </div>
            
            <h3>Anamnese</h3>

             <!-- Perguntas abertas -->
           <label for="pergunta3">Queixa principal e história da doença atual: </label><br>
           <textarea id="pergunta3" name="pergunta3" rows="4" cols="50"></textarea><br><br>
           
           <label for="pergunta4">Uso de medicação: </label><br>
           <textarea id="pergunta4" name="pergunta4" rows="4" cols="50"></textarea><br><br>

           <label for="pergunta4">Alergia: </label><br>
           <textarea id="pergunta4" name="pergunta4" rows="4" cols="50"></textarea><br><br>

           <label for="pergunta1">Quando se fere seu sangramento é: </label><br><br>
           <input type="radio" id="pergunta1_opcao1" name="pergunta1" value="opcao1">
           <label for="pergunta1_opcao1">Normal</label><br>
           <input type="radio" id="pergunta1_opcao2" name="pergunta1" value="opcao2">
           <label for="pergunta1_opcao2">Excessivo</label><br>

           <label for="pergunta1">Cicatrização: </label><br><br>
           <input type="radio" id="pergunta1_opcao1" name="pergunta1" value="opcao1">
           <label for="pergunta1_opcao1">Normal</label><br>
           <input type="radio" id="pergunta1_opcao2" name="pergunta1" value="opcao2">
           <label for="pergunta1_opcao2">Complicada</label><br>

           <label for="pergunta2">Sente falta de ar?</label><br><br>
           <input type="radio" id="pergunta2_opcao1" name="pergunta2" value="opcao1">
           <label for="pergunta2_opcao1">Não</label><br>
           <input type="radio" id="pergunta2_opcao2" name="pergunta2" value="opcao2">
           <label for="pergunta2_opcao2">Raramente</label><br>
           <input type="radio" id="pergunta2_opcao3" name="pergunta2" value="opcao3">
           <label for="pergunta2_opcao3">Frequentemente</label><br>
           <input type="radio" id="pergunta2_opcao4" name="pergunta2" value="opcao4">
           <label for="pergunta2_opcao4">Sempre</label><br><br>

           <h3>Saúde bucal</h3>
           <!-- Perguntas de múltipla escolha -->
           <label for="pergunta1">Pergunta 1:</label><br>
           <input type="radio" id="pergunta1_opcao1" name="pergunta1" value="opcao1">
           <label for="pergunta1_opcao1">Opção 1</label><br>
           <input type="radio" id="pergunta1_opcao2" name="pergunta1" value="opcao2">
           <label for="pergunta1_opcao2">Opção 2</label><br>
           <input type="radio" id="pergunta1_opcao3" name="pergunta1" value="opcao3">
           <label for="pergunta1_opcao3">Opção 3</label><br>
           <input type="radio" id="pergunta1_opcao4" name="pergunta1" value="opcao4">
           <label for="pergunta1_opcao4">Opção 4</label><br><br>
           
           <label for="pergunta2">Pergunta 2:</label><br>
           <input type="radio" id="pergunta2_opcao1" name="pergunta2" value="opcao1">
           <label for="pergunta2_opcao1">Opção 1</label><br>
           <input type="radio" id="pergunta2_opcao2" name="pergunta2" value="opcao2">
           <label for="pergunta2_opcao2">Opção 2</label><br>
           <input type="radio" id="pergunta2_opcao3" name="pergunta2" value="opcao3">
           <label for="pergunta2_opcao3">Opção 3</label><br>
           <input type="radio" id="pergunta2_opcao4" name="pergunta2" value="opcao4">
           <label for="pergunta2_opcao4">Opção 4</label><br><br>

            


           <h3>Tratamento</h3>

           <label for=""></label><br>
           <textarea id="tratamento" name="tratamento" rows="4" cols="50"></textarea><br><br>
            
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>

<main>
    <div class="frase">
        <h3>Welcome ProntClinic</h3>
    </div>
   
    <input type="text" placeholder="Name or CPF" class="form-control pesquisa input-icon">
      

    <div class="bloco">
        <div class="bloquinho">
            <p>Abril</p>
        </div>
        <div class="nome">
            <h6>Lívia Almeida Marins</h6>
            <h6>527.601.488.40</h6>
        </div>
    </div>
</main>




    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>